<mat-toolbar color="primary">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button *ngIf="!auth.isLoggednIn()" routerLink="/register">Register</button>
    <button mat-button *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</button>
    <button mat-button *ngIf="!auth.isLoggednIn()" routerLink="/booking">Booking</button>
    <button mat-button routerLink="/hostel">Hostel</button>
    <button mat-button routerLink="/users">User</button>
    <button mat-button routerLink="/pet">Pet</button>
    <button mat-button routerLink="/role">Roles</button>
    <button mat-button routerLink="/group">Groups</button>
    <button mat-button *ngIf="auth.isLoggednIn()" (click)="auth.logout()">Logout</button>
    <form class="form-inline">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Search" [formControl]="searchField">
        </div>
    </form>
    <div class="text-center">
        <p class="lead" *ngIf="loading">Loading...</p>
    </div>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of results | async">
            {{user.userName}}
        </li>
    </ul>
</mat-toolbar>