<div class="container" style="margin-top:100px;">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-sm-4">
            <!--User Form -->
            <form #regsiterForm="ngForm" (ngSubmit)="register(user)">
                <div class="signup-fields">
                    <div class="form-group" [class.has-error]="userName.invalid && userName.touched" [class.has-success]="userName.valid">
                        <input type="text" [(ngModel)]="user.userName" #userName="ngModel" required name="userName" class="form-control" placeholder="User Name">
                        <span class="help-block" *ngIf="userName.errors?.required && userName.touched">
              User Name is required
            </span>
                    </div>
                    <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
                        <input type="text" required [email]="user.email !== ''" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" #email="ngModel">
                        <span class="help-block" *ngIf="email.errors?.required && email.touched">
              Email is required
            </span>
                        <span class="help-block" *ngIf="email.errors?.email && email.touched">
              Email is invalid
            </span>
                    </div>
                    <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
                        <input type="password" [(ngModel)]="user.password" required class="form-control" name="password" placeholder="Password" #password="ngModel">
                        <span class="help-block" *ngIf="password.invalid && password.touched">
              Password is required
            </span>
                    </div>
                    <div class="form-group" [class.has-error]="confirmPasswordControl.invalid && confirmPasswordControl.touched" [class.has-success]="confirmPasswordControl.valid">
                        <input type="password" required class="form-control" name="confirmPassword" appEqualValidator="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" #confirmPasswordControl="ngModel">
                        <span class="help-block" *ngIf="confirmPasswordControl.errors?.required && confirmPasswordControl.touched">
                              Confirm password is required
                            </span>
                        <span class="help-block" *ngIf="confirmPasswordControl.errors?.notEqual 
                                                && confirmPasswordControl.touched && !confirmPasswordControl.errors?.required">
                              Password doesn't match
                            </span>
                    </div>

                    <div class="form-group">
                        Roles:
                        <span *ngFor="let role of roles">
                                <input type="checkbox" [checked]="role.checked === true" (change)="onRoleChange(role, $event.target.checked)" 
                                 name="role.roleCode" value="role.roleCode" />{{role.roleName}}
                        </span>
                    </div>

                    <div class="form-group">
                        Groups:
                        <span *ngFor="let group of groups">
                            <input type="checkbox" [checked]="group.checked === true" (change)="onGroupChange(group, $event.target.checked)" 
                            name="group.groupCode" value="group.groupCode" /> {{group.groupName}}
                        </span>
                    </div>

                    <div>

                        <button class="btn btn-primary btn-block" type="submit" [disabled]="regsiterForm.invalid">add</button>

                        <button class="btn btn-primary btn-block" type="reset">Reset</button>

                    </div>
                </div>
            </form>
            <!-- End-->
        </div>
        <div class="col-lg-4 col-sm-4 right-block ">
            User List will be display here.

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Group</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: p }">
                        <td>{{user._id}}</td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.email }}</td>


                        <td>
                            <span *ngFor="let role of user.userRoles">
                                    {{ role.roleName }},
                                </span>
                        </td>

                        <td>
                            <span *ngFor="let group of user.userGroups">
                                    {{ group.groupName }},
                                </span>
                        </td>
                        <td>
                            <!--span><a [routerLink]="['/users',user._id]">Edit</a></span -->
                            <span><a [routerLink]="" (click)="onEditUser(user._id)">Edit</a></span>
                            <span><a [routerLink]="" (click)="onDeleteUser(user._id)">Delete</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>

    </div>
</div>