<div class="container" style="margin-top:100px;">
    <div class="col-lg-4 col-sm-4 right-block ">
        <select multiple name="selectedRoles">
            <option *ngFor="let role of roles" [ngValue]="role.roleCode">
                    {{ role.roleName }}
            </option>
        </select>
    </div>
    <div class="col-lg-4 col-sm-4 right-block ">
        <form #regsiterForm="ngForm" (ngSubmit)="saveRole(role)">
            <div class="signup-fields">
                <div class="form-group" [class.has-error]="roleName.invalid && roleName.touched" [class.has-success]="roleName.valid">
                    <input type="text" [(ngModel)]="role.roleName" #roleName="ngModel" required name="roleName" class="form-control" placeholder="Role Name">
                    <span class="help-block" *ngIf="roleName.errors?.required && roleName.touched">
                Role Name is required
            </span>
                </div>

                <div class="form-group" [class.has-error]="roleCode.invalid && roleCode.touched" [class.has-success]="roleCode.valid">
                    <input type="text" [(ngModel)]="role.roleCode" #roleCode="ngModel" required name="roleCode" class="form-control" placeholder="Role Code">
                    <span class="help-block" *ngIf="roleCode.errors?.required && roleCode.touched">
                Role Code is required
            </span>
                </div>

                <div class="form-group" [class.has-error]="description.invalid && description.touched" [class.has-success]="description.valid">
                    <input type="text" [(ngModel)]="role.description" #description="ngModel" required name="description" class="form-control" placeholder="Description Code">
                    <span class="help-block" *ngIf="description.errors?.required && description.touched">
                Role Description is required
            </span>
                </div>

                <div>

                    <button class="btn btn-primary btn-block" type="submit" [disabled]="regsiterForm.invalid">add</button>

                    <button class="btn btn-primary btn-block" type="reset">Reset</button>

                </div>
            </div>
        </form>
    </div>
</div>